{% load static party_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DOT PMS</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <nav>
        <a href="{% url 'party' %}">{% get_active_party_title %}</a> | 
        <a href="{% url 'vote-list' %}">Vote</a> | 
        {% if request.user %}
            <a href="{% url 'entries' %}">My entries</a> | 
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>