<!DOCTYPE html>
<html lang="en">

<head>
    <title>File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Submit your demo</h1>

    {% if file_uploaded %}
    <h2 class="success">File upload successful!</h2>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <label for="platform">Platform</label>
        <select name="platform">
            {% set platforms = ["TIC-80", "PICO-8", "WASM-4", "UXN+Varvara"] %}
            {% for platform in platforms %}
            <option value="{{ platform }}" {% if form_initial.platform==platform %}selected{% endif %}>{{ platform }}
            </option>
            {% endfor %}
        </select>
        <input type="file" name="file">
        <p>All of these are shown on the big screen before and after your demo is shown.</p>
        <input type="text" name="artwork_name" placeholder="Title" value="{{ form_initial.title }}">
        <input type="text" name="author" placeholder="Author" value="{{ form_initial.author }}">
        <input type="text" name="description" placeholder="Description or message"
            value="{{ form_initial.description }}">
        <input type="submit" value="Upload">
    </form>
    <script>
        const uploadForm = document.querySelector('form');

        uploadForm.addEventListener('keypress', event => {
            // prevent uploading the form if pressing enter on input
            if (event.key === 'Enter') {
                event.preventDefault();

                // but input the enter to the text field
                event.target.value += '\n\r';
            }
        });
    </script>

</body>

</html>