<!DOCTYPE html>
<html lang="en">

<head>
    <title>File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Submit your demo</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="platform">Platform</label>
        <select name="platform" id="platform">
            <option value="TIC-80">TIC-80</option>
            <option value="PICO-8">PICO-8</option>
            <option value="WASM-4">WASM-4</option>
            <option value="UXN+Varvara">UXN+Varvara</option>
        </select>
        <input type="file" name="file">
        <p>All of these are shown on the big screen before and after your demo is shown.</p>
        <input type="text" name="artwork_name" placeholder="Title">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="description" placeholder="Description or message">
        <input type="submit" value="Upload">
    </form>
    <script>
        const uploadForm = document.querySelector('form');

        uploadForm.addEventListener('keypress', event => {
            // prevent uploading the form if pressing enter on input
            if (event.key === 'Enter') {
                event.preventDefault();

                // but input the enter to the text field
                event.target.value += '\n\r';
            }
        });
    </script>

</body>

</html>