{% extends 'base.html' %}

{% block content %}

<h2>Schedule</h2>

<p>You can find the schedule for Graffathon 2024 in 
    <a href="https://www.eventbrite.com/e/graffathon-2024-tickets-904961944537">
        Eventbrite</a>

<h2>Telegram</h2>

<p>
You should definitely join the Telegram chat of the event. 
To avoid bot spam, we don't post the direct link here, but 
you can find the channel by searching @graffathon in Telegram. 
</p>

<p>
The chat is the main communication channel during the event and 
is also the quickest way to contact the organizers. 
Don't hesitate to also ask for help with programming or anything
 else! 
</p>

<h2>Safer space policy</h2>

<p>At Graffathon, we follow the <a href="https://www.ayy.fi/en/administrative-documents/safer-space-policy">safer space policy</a>
    of the Aalto University Student Union (AYY)
</p>

<p>
    If you experience or witness any form of harassment or discrimination, please talk to our harassment contacts (@felixbade, @fionakeil, @jonnakonna) or any organizer you feel comfortable with
</p>

<h2>For beginners</h2>
<p><a href="https://docs.google.com/document/d/17wPlvJM0rKsBl7mPJF1Jfl6RCBDqE1c4ocEpeq_QJ2k/edit?usp=sharing">Graffathon p5.js getting started</a></p>

{% endblock %}