{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    {% for pos, entry in entries %}
        {% if entry.thumbnail %}
        <img src="{{ entry.thumbnail.url }}" style="width: 100%;">
        {% endif %}
        <h2>{{ entry.title }} by {{ entry.team }} – Graffathon 2024 – {{ object.title }} </h2>
        <p>
            {{ pos | ordinal }} place in {{ object.title }} compo with {{ entry.entry_total_points }} points
        </p>
        <p>
            This capture has a yellow tint, which was not part of the original demo. We spent a lot of time investigating this, but it was left as a mystery, because the night light setting was off, and the color was ok on the other display.
        </p>
        <p>
            Download the original demo: https://files.scene.org/view/parties/2024/graffathon24/{{ compo.title | lower }}/{{ entry.scene_org_filename }}
        </p>
        <p>
            More info about Graffathon: https://graffathon.fi
        </p>

        <hr>
    {% endfor %}
{% endblock %}