{% extends 'beamer/base.html' %}

{% block content %}
    {% include 'beamer/process_slide.html' with compo=compo headline="Coming up:" %}
    {% include 'beamer/process_slide.html' with compo=compo headline="Now:" %}

    {% for entry in compo.entries.all %}
        {% include 'beamer/slide.html' with entry=entry %}
    {% endfor %}
    {% include 'beamer/process_slide.html' with compo=compo headline="End" %}
{% endblock %} 

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let slides = document.querySelectorAll('.slide');
            let currentIndex = 0;


            function showSlide(index) {
                slides.forEach((slide, i) => {
                    if (i === index) {
                        slide.classList.add('active')
                    } else {
                        slide.classList.remove('active')
                    }
                });
            }
    
            // Initialize the first slide
            showSlide(currentIndex);
    
            // Function to move to the next slide
            function nextSlide() {
                currentIndex = (currentIndex + 1) % slides.length;
                showSlide(currentIndex);
            }
            function prevSlide() {
                currentIndex = (currentIndex - 1 + slides.length) % slides.length;
                showSlide(currentIndex);
            }
            document.addEventListener('keydown', function (event) {
                if (event.key === 'ArrowRight') {
                    nextSlide();
                } else if (event.key === 'ArrowLeft') {
                    prevSlide();
                }
            }); 
        });
    </script>
{% endblock %}