{% extends 'beamer/base.html' %}

{% block content %}
    {% include 'beamer/process_slide.html' with compo=compo headline="Coming up:" entry_pos=0 %}
    {% include 'beamer/process_slide.html' with compo=compo headline="Now:" entry_pos=0 %}

    {% for entry in compo.entries.all %}
        {% include 'beamer/slide.html' with entry=entry %}
    {% endfor %}
    {% include 'beamer/process_slide.html' with compo=compo headline="End" %}
{% endblock %} 

{% block scripts %}
    <script>

        const postEntryPos = (pos) => {
            fetch("{% url 'record-entry-pos' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    compo_pk: {{ compo.pk }},
                    current_entry: pos
                })
            })

        }

        document.addEventListener("DOMContentLoaded", function () {
            let slides = document.querySelectorAll('.slide');
            let currentIndex = 0;


            const showSlide = (index) => {
                slides.forEach((slide, i) => {
                    if (i === index) {
                        const pos = slide.getAttribute("data-entry-pos");
                        postEntryPos(pos)
                        slide.classList.add('active')
                    } else {
                        slide.classList.remove('active')
                    }
                });
            }
    
            // Initialize the first slide
            showSlide(currentIndex);
    
            // Function to move to the next slide
            const nextSlide = () => {
                currentIndex = Math.min(currentIndex + 1, slides.length - 1);
                showSlide(currentIndex);
            }
            const prevSlide = () => {
                currentIndex = Math.max(currentIndex - 1, 0);
                showSlide(currentIndex);
            }
            document.addEventListener('keydown', (event) => {
                if (event.key === 'ArrowRight') {
                    nextSlide();
                } else if (event.key === 'ArrowLeft') {
                    prevSlide();
                }
            }); 
        });
    </script>
{% endblock %}